@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
/* thin 100  light 300  regular 400  medium 500  bold 700 */

html, body{ font-family: 'Noto Sans KR', sans-serif; min-width: 1200px; max-width: 1920px; margin: 0 auto; background: #eee; }
input, select, textarea, option { font-family: 'Noto Sans KR', sans-serif; }

h1,h2,h3,h4,h5,h6{ font-family: 'Noto Sans KR', sans-serif; letter-spacing: -0.25px; font-weight: 400; position: relative; line-height: 1.5em !important; }
h1{ font-size: 24px; font-weight: 700; margin-bottom: 50px !important; padding-left: 30px !important;}
h1::after,
h2::after { content: ''; background: #ddd; width: 100%; height: 2px; position: absolute; bottom: 0; left: 0; margin-bottom: -10px; }
h2::after { height: 1px; }
h2{ font-size: 20px; margin-bottom: 30px !important; padding-left: 30px !important; }
h3{ font-size: 16px; }
h4{  }
a { color: #cc0018 !important; text-decoration: none; }
#wrap { width: 1000px; margin: 0 auto; padding: 50px; overflow: hidden; background: #fff; }
#wrap > * { margin-bottom: 50px; }

sup { position: relative; top: -5px !important; cursor: pointer; color: #cc0018; font-weight: 500; }
sup:hover { text-decoration: underline; }
sup:hover:before { content: ''; position: absolute; top: 0; left: -50px; margin-top: -50px; min-width: 100px; height: fit-content; line-height: 2; color: black; padding: 10px; border: 2px solid black; background: #fff; font-size: 14px; white-space: pre; text-align: center; font-weight: 400; z-index: 2;}

details summary { position: relative; display: block; cursor: pointer; outline: 0; }
details summary::-webkit-details-marker { display: none; }
details summary img { width: 20px !important; transition: transform 0.15s linear; position: absolute; top: 50%; left: 0; transform: translate(0, -50%); }
details[open] > summary img { transform: rotate(90deg); margin-top: -8px;}