
h1 {
  font-size: 18px;
  text-transform: uppercase;
  text-align : center;
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
  text-align : left;
}
table {
  position: relative;
  width: 100%;
  background : #cfdfff;
  font-size: 16px;
  padding: 10px;
}
.main_area .desc_area th,
.album_area th {
  text-align: center;
  font-weight: bold;
  background: #89adf3;
  color: white;
  padding: 10px 5px;
}
.main_area .desc_area th {
  width: 40%;
}
.album_area th {}

.main_area .desc_area td,
.album_area td {
  text-align: left;
  background: white;
  padding: 10px;
}
.main_area .desc_area td {
  width: 60%;
}
.album_area td {
  text-align: center;
}
.album_area td:first-child {
  width: 5%;
}
.album_area td:nth-child(2) {
  width: 15%;
}
.album_area td:nth-child(3) {
  width: 40%;
}
.album_area td:nth-child(4) {
  width: 40%;
  padding: 5px;
}
.line {
  width: 100vw; 
  height : 2px;
  background: #89adf3;
  margin: 30px 0;
}

.tr_desc {
  font-size: 14px;
  text-indent: 0.8em;
  display: inline-flex;
  flex-direction: column;
}

.album_area table tbody{}
.album_area table tbody tr{}
.album_area table tbody tr th{
  background: #89adf3;
}
.album_area table tbody tr td{}